[Desktop Entry]
Name=OpenTrace
Keywords=traceroute;OpenTrace;network;NextTrace;
Exec=OpenTrace
Comment=Cross-platform GUI traceroute tool
Icon=opentrace
Type=Application
Terminal=false
Categories=Network;
